# Core
numpy>=1.26.0
scipy>=1.13.0
pyyaml>=6.0.1
tqdm>=4.65.0
trimesh==4.10.1
pinocchio==0.4.3

# Visualization
matplotlib>=3.8.0
seaborn>=0.13.0
pandas>=2.2.0

# Optional autodiff (JAX)
jax==0.4.35
jaxopt==0.8.5

# Optional environments
gymnasium>=0.29.1
mujoco>=3.1.3
dm-control>=1.0.14
robosuite>=1.4.1

# Optional optimization
cvxopt>=1.3.2

# Dev tools
pytest>=9.0.2
black>=24.3.0
flake8>=7.0.0
